#navbarBlock {
  background-color: #fff;
  height: 70px;
  width: 100%;
  box-shadow: 1px 0px 3px 0px rgba(173, 216, 230, 0.612);
}
#navbarBlock>article{
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}
#navbarBlock>article>.logoBlock a{
    color: #673987;
    font-weight: bold;
    font-size: 18px;
    text-transform: math-auto;
    letter-spacing: 1.4px;
    text-decoration: none;
    position: relative;
}
.icon{
    color: deeppink;
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
    font-weight: 900;
    display: inline-block;
    position: relative;
    top: 5px;
}
.menuBlock ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}
.menuBlock ul button{
    padding:  5px 10px;
    border:  1px solid crimson;
    background: none;
    color: crimson;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 1.2px;
    border-radius: 100%;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}
.menuBlock ul button:hover{
    background-color: crimson;
    border: 1px solid crimson;
    color: #fff;
    box-shadow: 0px 0px 8px 3px lightgrey
}
.menuBlock ul a{
    padding:  10px 20px;
    border:  1px solid #673987;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 1.2px;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
}
.profile{
    padding: 0 !important;
    height: auto !important;
    width: auto !important;
    border: none !important;
    border-radius: 100% !important;
}
.menuBlock ul a:hover{
    background-color: #673987;
    color: #fff;
    border: 1px solid #673987;
    transition: 0.2s all ease-in-out;
}
.userAvatar{
    width: auto !important;
    padding: 0 !important;
    border: none !important;
    font-size:smaller;
    display:flex;
    align-items:center;
    padding: 0 2px;
}
.userAvatar img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: inline-block;
    border-radius: 100%;
    margin: 4px 10px;
}