#adminBlock > article {
  width: 100%;
  display: flex;
  height: 88.5vh;
}
.adminSideBar {
  flex-basis: 20%;
  background-color: #fff;
}
.adminMain {
  flex-basis: 80%;
  background-color: #eee;
}
.adminSideBar nav a {
  display: flex;
  justify-content: start;
  text-decoration: none;
  gap: 10px;
  width: 100%;
  border-bottom:3px solid #efefef;
  align-items: center;
  height: 30px;
  color: #3f51b5;
  padding: 20px 10px 10px 20px;
  margin: 10px 0;
}
.adminSideBar nav a:hover{
  background-color: #673987;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.adminMain aside {
  display: flex;
}
.card {
  flex-basis: 24%;
  background-color: #fff;
  padding: 15px;
  min-height: 150px;
  box-shadow: 1px 1px 3px 1px #efefef;
  margin: 10px;
}
.card a {
  padding: 8px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #eee;
  border: 1px solid rgb(39, 222, 161);
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  color: white;
  font-size: small;
  background-color: rgb(39, 222, 161);
  font-weight: bolder;
}
.card a:hover {
  background-color: #3f51b5;
  border: 1px solid #555;
}
.adminSideBar nav a span:first-child {
  font-size: large;
  font-weight: 700;
  color: deeppink;
  font-size: x-large;
  padding-left: 20px;
}
.card h1 {
  color: #3f51b5;
  font-size: x-large;
  padding-bottom: 10px;
}
.card p {
  margin: 10px auto;
}
.card p b {
  display: inline-block;
  border-radius: 20px;
  float: right;
  background-color: green;
  height: 23px;
  width: 23px;
  color: white;
  text-align: center;
}
.card p time {
  letter-spacing: 1.5px;
  font-size: smaller;
  color: #444;
}

.cardBody {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.cardBody div {
  flex-basis: 24%;
  background-color: #fff;
  padding: 5px;
  box-shadow: 1px 1px 3px 1px #efefef;
}
.cardBody img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.cardBody a{
padding: 8px;
width: 100%;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #eee;
  border: 1px solid rgb(39, 222, 161);
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  color: white;
  font-size: small;
  background-color: rgb(39, 222, 161);
  font-weight: bolder;
  text-align: center;
}
.adminUserHeading{
    color: #3f51b5;
    font-weight: 900;
    font-size: x-large;
    text-align: center;
    width: 100%;
    margin: 10px auto;
}
.userInfo{
    width: 100%;
    height: 100%;
    background-color: rgb(148, 176, 177);
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.userInfo figure{
    flex-basis: 40%;
    width: 100%;
    display: flex;
    align-items: center;
}
.userInfo figure img{
    width: 100%;
    border-radius: 50px;
}
.userInfo main{
    flex-basis: 58%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
#addHotelsBlock{
    background-color: #efefef;
    width: 100%;
}
#addHotelsBlock>article{
    width: 90%;
    height: 80vh;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
}
#addHotelsBlock .authRight{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    padding-top: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: #673987;
    border-right: 1px solid rgba(167, 168, 169, 0.748);
}
 #addHotelsBlock .authRight h1{
    text-align: center;
    margin-bottom: 5%;
    color: #fff;
    font-size: xx-large;
}
#addHotelsBlock .authRight img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.authLeft{
    flex-basis: 60%;
    background-color: #fff;
    padding: 20px;
}
.authLeft form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:  20px 0;
}
.authLeft form div{
    flex-basis: 49%;
    gap: 20px;
}
.authLeft form div:last-child{
    flex-basis: 100% !important;
    text-align: center;
}
.authLeft label{
    color: #673987;
    display: block;
    font-weight: lighter;
    padding: 5px 0;
    font-size: 16px;
}
.authLeft input{
    display: block;
    font-weight: bold;
    width: 90%;
    border-radius: 5px;
    padding: 8px;
    font-size: 12px;
    border:  1px solid rgba(204, 204, 204, 0.745);
    margin: 5px 0;
}
.authLeft select{
    display: block;
    font-weight: bold;
    width: 90%;
    border-radius: 5px;
    padding: 8px;
    font-size: 12px;
    border:  1px solid rgba(204, 204, 204, 0.745);
    margin: 5px 0;
}
.authLeft textarea{
   display: block;
    font-weight: bold;
    width: 90%;
    border-radius: 5px;
    padding: 8px;
    font-size: 12px;
    border:  1px solid rgba(204, 204, 204, 0.745);
    margin: 5px 0;
}
.radioAvl input{
  display: inline-block;
  width: 10px;
  height: 10px;
}
.authLeft button{
    border: 5px;
    border-radius: 5px;
    background-color: #673987;
    color: #fff;
    border: 1px solid #673987;
    padding: 10px 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-left: -25px;
}
.authLeft button:hover{
    color: #673987;
    background-color: #fff;
    border: 1px solid #673987;
    font-weight: bold;
    font-size: 16px;
}
.chkType input{
  margin: 0;
  padding: 0;
  height: 10px;
  width: 10px;
  display: inline;
}