#authBlock{
    background-color: #efefef;
    width: 100%;
}
#authBlock>article{
    width: 90%;
    height: 80vh;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
}
.authRight{
    flex-basis: 40%;
    background-color: #fff;
    padding: 10px;
    padding-top: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: #673987;
    border-right: 1px solid rgba(167, 168, 169, 0.748);
}
.authRight h1{
    text-align: center;
    margin-bottom: 5%;
    color: #fff;
    font-size: xx-large;
}
.authLeft{
    flex-basis: 60%;
    background-color: #fff;
    padding: 20px;
}
.authLeft form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:  20px 0;
}
.authLeft form div{
    flex-basis: 49%;
    gap: 20px;
}
.authLeft form div:last-child{
    flex-basis: 100% !important;
    text-align: center;
}
.authLeft label{
    color: #673987;
    display: block;
    font-weight: bold;
    padding: 10px 0;
    font-size: 16px;
}
.authLeft input{
    display: block;
    font-weight: bold;
    width: 90%;
    border-radius: 5px;
    padding: 15px;
    font-size: 12px;
    border:  1px solid rgba(204, 204, 204, 0.745);
    margin: 20px 0;
}
.authLeft button{
    border: 5px;
    border-radius: 5px;
    background-color: #673987;
    color: #fff;
    border: 1px solid #673987;
    padding: 20px 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-left: -25px;
}
.authLeft button:hover{
    color: #673987;
    background-color: #fff;
    border: 1px solid #673987;
    font-weight: bold;
    font-size: 16px;
}
#authLoginBlock>article{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
#authLoginBlock>article form{
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px #eee;
}
#authLoginBlock>article h1{
    color: #673987;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: xx-large;
    padding: 15px 0;
    text-align: center;
}
#authLoginBlock>article div{
    position: relative;
}
#authLoginBlock>article label{
    color: #673987;
    width: 100%;
    padding: 5px 0;
    display: inline-block;
    font-weight: 600;
}
#authLoginBlock>article input{
    border: 1px solid #ccc;
    width: 100%;
    background: transparent;
    padding: 14px 10px 14px 30px;
    margin: 5px 0;
    border-radius: 5px;
}
#authLoginBlock>article button{
    width: 100%;
    background-color: #673987;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 15px auto;
    border: 1px solid #673987;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.2s all ease-in-out;
}
#authLoginBlock>article button:hover{
    background-color: #fff;
    color: #673987;
    border: 1px solid #673987;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
/* #authLoginBlock>article .user{
    position: absolute;
    right: 0;
    top: -10%;
} */
#authLoginBlock>article>div .showPassword{
   position: absolute;
    right: 10px;
    top: 60%;
    transition: 0.3s all ease-in-out;
    color: gray;
}
#authLoginBlock>article>div svg{
    font-size: large;
}
#authLoginBlock>article>div .showPassword:hover{
    color: #673987;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}
#authLoginBlock>article>div span a{
    color:rgb(62, 124, 64);
    font-weight: bold;
    display: inline-block;
    padding-bottom: 10px;
}
#authLoginBlock>article>div span a:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bolder;
    color: #673987;
    text-decoration-color:#673987;
}
.reset{
    color: orchid;
    text-decoration: none;
    display: block;
    margin: 0px 0px 20px;
    text-align: right;
}
.reset:hover{
    color: orangered;
}
.user{
    position: absolute;
    left: 5px;
    top: 56%;
}
.pass{
    position: absolute;
    left: 5px;
    top: 56%;
}