#authBlock{
    background-color: #efefef;
    width: 100%;
}
#authBlock>article{
    width: 90%;
    height: 80vh;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
}
.authRight{
    flex-basis: 40%;
    background-color: #fff;
    padding: 10px;
    padding-top: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: #673987;
    border-right: 1px solid rgba(167, 168, 169, 0.748);
}
.authRight h1{
    text-align: center;
    margin-bottom: 10%;
    color: #fff;
}
.authLeft{
    flex-basis: 60%;
    background-color: #fff;
    padding: 20px;
}
.authLeft form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:  20px 0;
}
.authLeft form div{
    flex-basis: 49%;
    gap: 20px;
}
.authLeft form div:last-child{
    flex-basis: 100% !important;
    text-align: center;
}
.authLeft label{
    color: #673987;
    display: block;
    font-weight: bold;
    padding: 10px 0;
    font-size: 16px;
}
.authLeft input{
    display: block;
    font-weight: bold;
    width: 90%;
    border-radius: 5px;
    padding: 15px;
    font-size: 12px;
    border:  1px solid rgba(204, 204, 204, 0.745);
    margin: 20px 0;
}
.authLeft button{
    border: 5px;
    border-radius: 5px;
    background-color: #673987;
    color: #fff;
    border: 1px solid #673987;
    padding: 20px 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-left: -25px;
}
.authLeft button:hover{
    color: #673987;
    background-color: #fff;
    border: 1px solid #673987;
    font-weight: bold;
    font-size: 16px;
}